.advantages {
  position: relative;
  z-index: 0;
  min-height: 562px;
  padding: 110px $page-padding-desktop;
  font-size: 14px;
  background-color: $color-bg-additional-light;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: "";

    @supports not (background-image: url("../img/background/advantages.webp")) {
      background-image: url("../img/background/advantages.jpg");

      @include vp-767 {
        background-image: url("../img/background/advantages-mobile.jpg");
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/advantages@2x.jpg");

        @include vp-767 {
          background-image: url("../img/background/advantages-mobile@2x.jpg");
        }
      }
    }

    @supports (background-image: url("../img/background/advantages.webp")) {
      background-image: url("../img/background/advantages.webp");

      @include vp-767 {
        background-image: url("../img/background/advantages-mobile.webp");
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/advantages@2x.webp");

        @include vp-767 {
          background-image: url("../img/background/advantages-mobile@2x.webp");
        }
      }
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 49px;
    text-align: center;
  }

  @include vp-1023 {
    min-height: 588px;
    padding: 90px $page-padding-tablet 100px;
  }

  @include vp-767 {
    padding: 56px $page-padding-mobile 63px;

    h2 {
      margin-bottom: 31px;
    }
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 30px;
  }
}

.advantages__item {
  position: relative;
  min-height: 241px;
  padding: 81px 30px 36px;
  background-color: $color-base-light;

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    word-break: break-word;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 12px;
    line-height: 1.4;
  }

  &--inclusive p {
    padding-right: 16px;
  }

  &::before {
    position: absolute;
    top: 30px;
    left: 30px;
    content: "";
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &--liner::before {
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/liner.svg");
  }

  &--inclusive::before {
    width: 38px;
    height: 32px;
    background-image: url("../img/svg/all-inclusive.svg");
  }

  &--tours::before {
    width: 44px;
    height: 32px;
    background-image: url("../img/svg/tours.svg");
  }

  @include vp-1023 {
    min-height: 310px;
    padding: 68px 16px 13px 20px;

    &--inclusive p,
    &--tours p {
      padding-right: 0;
    }

    &--tours h3 {
      margin-bottom: 18px;
    }

    &::before {
      top: 26px;
      left: 20px;
    }

    &--liner::before {
      width: 21px;
      height: 26px;
    }

    &--inclusive::before {
      width: 27px;
      height: 26px;
    }

    &--tours::before {
      width: 36px;
      height: 26px;
    }
  }

  @include vp-767 {
    min-height: 250px;
    padding: 68px 15px 11px 20px;

    h3 {
      padding-right: 54px;
    }

    &--tours h3 {
      margin-bottom: 8px;
    }

    p {
      padding-right: 0;
    }

    &::before {
      top: 25px;
    }
  }
}
