.button {
  display: inline-flex;
  padding: 14px 20px 15px;

  font-size: $fz-base-small;
  line-height: 1.5;
  font-weight: 600;
  color: $color-base-dark;

  background-color: $color-base-light;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
