.cruises {
  padding: 95px $page-padding-desktop 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  @include vp-1023 {
    padding: 100px $page-padding-tablet;
  }

  @include vp-767 {
    padding: 65px $page-padding-mobile;

    h2 {
      margin-bottom: 10px;
    }
  }
}

.cruises__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding-right: 15px;
  padding-left: 15px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 309px);
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fit, minmax(270px, 309px));
    column-gap: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
