.cruises {
  padding: 89px $page-padding-desktop 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 54px;
    text-align: center;
    line-height: 1.2;
  }

  @include vp-1023 {
    padding: 93px $page-padding-tablet 100px;
  }

  @include vp-767 {
    padding: 61px $page-padding-mobile 65px;

    h2 {
      margin-bottom: 34px;
    }
  }
}

.cruises__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding-right: 15px;
  padding-left: 15px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 309px);
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fit, minmax(270px, 309px));
    column-gap: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
