.journey {
  padding: 120px $page-padding-desktop 145px;

  @include vp-1023 {
    padding: 100px $page-padding-tablet 82px;
  }

  @include vp-767 {
    padding: 48px $page-padding-mobile 85px;
  }
}

.journey__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;

  @include vp-1023 {
    column-gap: 25px;
    align-items: start;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 33px;
  }
}

.journey__description {
  padding-right: 40px;

  h2 {
    margin-top: 8px;
    margin-bottom: 26px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  @include vp-1023 {
    flex-grow: 1;
    margin-top: -18px;
    padding-right: 0;

    h2 {
      margin-bottom: 17px;
      padding-right: 60px;
      line-height: 1.4;
    }

    p {
      padding-right: 4px;
    }
  }

  @include vp-767 {
    margin: 0;

    p {
      padding-right: 0;
    }
  }
}

.journey__image {
  max-width: 560px;
  max-height: 301px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include vp-1023 {
    flex-grow: 1;
    min-width: 324px;
    min-height: 174px;
    margin-right: 5px;
  }

  @include vp-767 {
    min-width: 290px;
    min-height: 156px;
    margin-right: 0;
  }
}
